@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #1e40af;
  --color-primary-light: #60a5fa;
  
  --color-secondary: #fbbf24;
  --color-secondary-dark: #f59e0b;
  --color-secondary-light: #fcd34d;
  
  --color-dark: #0f172a;
  --color-dark-lighter: #1e293b;
  --color-dark-card: #1e293b;
}

body {
  background-color: var(--color-dark);
  color: white;
}

/* Scrollbar custom */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark-lighter);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-light);
}